[Desktop Entry]
Type=Application
Name=LimeLight
Comment=Elgato Key Light Controller for Linux
Exec=limelight
Icon=io.github.chimi6.limelight-linux-elgato-lights-controller
StartupWMClass=io.github.chimi6.limelight-linux-elgato-lights-controller
Terminal=false
Categories=Utility;Settings;
Keywords=elgato;keylight;light;control;stream;
StartupNotify=true
