[Desktop Entry]
Type=Application
Name=SubLime
Comment=Elgato Key Light Controller for Linux
Exec=sublime
Icon=io.github.limebottle.SubLime
StartupWMClass=io.github.limebottle.SubLime
Terminal=false
Categories=Utility;Settings;
Keywords=elgato;keylight;light;control;stream;
StartupNotify=true

